[Desktop Entry]
Type=Application
Name=vv
GenericName=Data Table Viewer
Comment=View Parquet, Arrow, HDF5/AnnData, NumPy, spreadsheets, CSV and genomic tables
Exec=vvg %f
Icon=vv
Terminal=false
Categories=Utility;Database;Qt;
MimeType=application/vnd.apache.parquet;application/vnd.apache.arrow.file;application/x-hdf5;application/x-npz;application/vnd.sqlite3;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;application/vnd.oasis.opendocument.spreadsheet;text/csv;text/tab-separated-values;application/x-bam;application/x-cram;text/x-sam;text/x-paf;application/x-compressed-paf;text/x-mpileup;application/x-compressed-mpileup;text/x-vcf;application/x-compressed-vcf;application/x-bcf;text/x-bed;application/x-compressed-bed;text/x-bedgraph;application/x-compressed-bedgraph;text/x-gff;application/x-compressed-gff;text/x-gtf;application/x-compressed-gtf;application/x-bigwig;application/x-bigbed;text/x-fasta;application/x-compressed-fasta;text/x-fastq;application/x-compressed-fastq;application/x-2bit;text/x-matrix-market;application/x-compressed-matrix-market;
